;redcode-94nop
;name Deep Freeze X
;author Lukasz Grabun
;strategy scanner
;assert 1
;decoy
       ORG      START
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
       SPL.B  #     1, #     1     
       SPL.B  #  1072, <  1072     
       SPL.B  #  1072, *  1072     
       SPL.B  #  1072, @  1072     
       SPL.B  #  1072, }  1072     
       SPL.B  #  1072, {  1072     
       SPL.B  #  1072, $  1072     
       SPL.B  #  1072, >  1072     
START  MOV.I  $    21, $  3000     
       MOV.I  {    -1, <    -1     
       MOV.I  {    -2, <    -2     
       MOV.I  {    -3, <    -3     
       MOV.I  {    -4, <    -4     
       MOV.I  {    -5, <    -5     
       MOV.I  {    -6, <    -6     
       MOV.I  {    -7, <    -7     
       MOV.I  {    -8, <    -8     
       MOV.I  {    -9, <    -9     
       ADD.AB #     2, $   -10     
       JMP.B  @   -11, $     0     
       JMP.B  $     7, $ -2991     
       MOV.I  $ -3064, >    -1     
       SEQ.I  }  2144, }  2152     
       MOV.AB $    -1, $    -3     
       ADD.F  $     2, $    -2     
       JMN.A  $    -4, $    -3     
       SPL.B  #  1072, #  1072     
       MOV.I  $     2, >   -11     
       DJN.F  $    -1, >   -12     
       DAT.F  > -2665, $    15     

