<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nMars.IDE.Properties.IDESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="nMars.IDE.IDESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nMars.IDE.Properties.IDESettings>
            <setting name="LoadRecentProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultEngine" serializeAs="String">
                <value>nMars.Engine-StepBack</value>
            </setting>
            <setting name="DefaultParser" serializeAs="String">
                <value>nMars.Parser</value>
            </setting>
        </nMars.IDE.Properties.IDESettings>
        <nMars.IDE.IDESettings>
            <setting name="LoadRecentProject" serializeAs="String">
                <value>True</value>
            </setting>
        </nMars.IDE.IDESettings>
    </userSettings>
</configuration>