;redcode-94 quiet
;name Taking Names
;author P.Kline
;strategy sne.x/seq.x scanner using spl-spl-jmp bomb
;strategy and continuous forward-clear
;strategy added decoy
;assert 1
;optimax scn
       ORG      START
       DAT.F  #     0, $    37     
       DAT.F  #    96, #    98     
       MOV.I  $    13, *     5     
       MOV.I  $    10, {     4     
       MOV.I  $     9, {     3     
       SUB.F  $   -23, @    -2     
       ADD.F  $     7, @    -3     
       SNE.I  $   196, $   294     
       ADD.F  $     5, @    -5     
       SEQ.I  *    -2, @    -2     
       SLT.AB #   198, @    -7     
       DJN.B  $    -5, #  2500     
       JMN.B  $   -10, $    -1     
       SPL.I  #   196, #   196     
       MOV.I  $   -32, >   -34     
       JMP.B  $    -1, $     0     
START  MOV.I  <    17, {    17     
       MOV.I  <    16, {    16     
       MOV.I  <    15, {    15     
       MOV.I  <    14, {    14     
       MOV.I  <    13, {    13     
       MOV.I  <    12, {    12     
       MOV.I  <    11, {    11     
       MOV.I  <    10, {    10     
       MOV.I  <     9, {     9     
       MOV.I  <     8, {     8     
       MOV.I  <     7, {     7     
       MOV.I  <     6, {     6     
       MOV.I  <     5, {     5     
       MOV.I  <     4, {     4     
       MOV.I  $   -29, $ -3348     
       MOV.I  $   -31, $ -3351     
       JMP.B  $ -3326, $     0     
       DAT.F  $ -3317, $   -17     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $   989, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   987, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   985, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   983, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   981, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   979, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   977, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   975, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   973, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   971, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   969, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   967, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   965, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   963, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   961, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   959, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   957, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   955, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   953, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   951, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   949, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   947, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   945, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   943, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   941, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   939, $     1     
       DAT.F  $     1, $     1     
       DAT.F  $   937, $     1     
       DAT.F  $     1, $     1     

