;redcode-94nop
;author Lukasz Grabun
;name Disincentive
;strategy MiniQ^3 -> Paper
;assert CORESIZE==8000
;optimax pap
       ORG      START
       SPL.B  $     2, $     0     
       SPL.B  $     2, $     0     
       SPL.B  $     1, }     0     
       SPL.B  $     1, $     0     
       SPL.B  @     0, < -3813     
       MOV.I  }    -1, >    -1     
       SPL.B  @     0, <  3065     
       MOV.I  }    -1, >    -1     
       MOV.I  $     4, >  1369     
       MOV.I  $     3, >   543     
       MOV.I  {    -4, <     1     
       DJN.F  @     0, <  1282     
       DAT.F  >  2667, > -2666     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  {    46, {     1     
START  SEQ.I  $ -3778, $   222     
       JMP.B  $    18, { -3770     
       SNE.I  $ -2980, $  1020     
       SEQ.I  $   819, {    24     
       JMP.B  $    14, }    23     
       SNE.I  $ -2383, $  1617     
       SEQ.I  $  1416, {    20     
       JMP.B  $    11, {    11     
       SNE.I  $ -1986, $  2014     
       SEQ.I  $  1813, {    19     
       JMP.B  $     8, }     8     
       SEQ.I  $ -3589, $   411     
       JMP.B  $     6, {    15     
       SEQ.I  $ -2791, $  1209     
       DJN.A  $     4, {     4     
       SEQ.I  $ -3393, $   607     
       JMP.B  $     2, { -3385     
       JMZ.B  $   -88, $ -1602     
       MUL.AB $     9, $     4     
       SNE.I  $   -21, @     3     
       ADD.AB #  4000, $     2     
       MOV.I  $   -22, @     1     
       MOV.I  $   -23, *   200     
       SUB.AB #     7, $    -1     
       DJN.B  $    -3, #     8     
       JMP.B  $   -96, $     0     
       DAT.F  $ -2592, $     0     
       DAT.F  $ -3196, $     0     
       DAT.F  $ -2190, $     0     

