;redcode-94 
;name  Rosebud
;author Beppe
;strategy a nice little thing
;strategy and a bunch of imps
;assert CORESIZE == 8000
;optimax sai
;-break
       ORG      START
START  SPL.B  $    77, $     0     
       MOV.I  $    17, @     7     
       MOV.I  {    14, {     6     
       MOV.I  {    13, {     5     
       MOV.I  {    12, {     4     
       MOV.I  {    11, {     3     
       MOV.I  {    10, {     2     
       SPL.B  *     1, <  4000     
       MUL.F  # -3996, # -3994     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SPL.B  #     0, $     0     
       SPL.B  #   845, <  -845     
       MOV.I  >   845, $  -844     
       ADD.F  $    -2, $    -1     
       DJN.F  $    -2, <  -848     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, #    -9     
       SPL.B  #    -3, $    66     
       SPL.B  #    -4, $    65     
       SPL.B  #    -5, $    64     
       SPL.B  #    -6, $    63     
       SPL.B  #    -7, $    62     
       SPL.B  #    -8, $    61     
       SPL.B  #    -9, $    60     
       SPL.B  #   -10, $    59     
       SPL.B  #   -11, $    58     
       SPL.B  #   -12, $    57     
       SPL.B  #   -13, $    56     
       SPL.B  #   -14, $    55     
       SPL.B  #   -15, $    54     
       SPL.B  #   -16, $    53     
       SPL.B  #   -17, $    52     
       SPL.B  #   -18, $    51     
       SPL.B  #   -19, $    50     
       SPL.B  #   -20, $    49     
       SPL.B  #   -21, $    48     
       SPL.B  #   -22, $    47     
       SPL.B  #   -23, $    46     
       SPL.B  #   -24, $    45     
       SPL.B  #   -25, $    44     
       SPL.B  #   -26, $    43     
       SPL.B  #   -27, $    42     
       SPL.B  #   -28, $    41     
       SPL.B  #   -29, $    40     
       SPL.B  #   -30, $    39     
       SPL.B  #   -31, $    38     
       SPL.B  #   -32, $    37     
       SPL.B  #   -33, $    36     
       SPL.B  #   -34, $    35     
       SPL.B  #   -35, $    34     
       SPL.B  #   -36, $    33     
       SPL.B  #   -37, $    32     
       SPL.B  #   -38, $    31     
       SPL.B  #   -39, $    30     
       SPL.B  #   -40, $    29     
       SPL.B  #   -41, $    28     
       SPL.B  #   -42, $    27     
       SPL.B  #   -43, $    26     
       SPL.B  #   -44, $    25     
       SPL.B  #   -45, $    24     
       SPL.B  #   -46, $    23     
       SPL.B  #   -47, $    22     
       SPL.B  #   -48, $    21     
       SPL.B  #   -49, $    20     
       SPL.B  #   -50, $    19     
       SPL.B  #   -51, $    18     
       SPL.B  #   -52, $    17     
       SPL.B  #   -53, $    16     
       SPL.B  #   -54, $    15     
       SPL.B  #   -55, $    14     
       SPL.B  #   -56, $    13     
       SPL.B  #   -57, $    12     
       SPL.B  #   -58, $    11     
       SPL.B  #   -59, $    10     
       SPL.B  #   -60, $     9     
       MOV.I  <     8, {     8     
       MOV.I  <     7, {     7     
       MOV.I  <     6, {     6     
       MOV.I  <     5, {     5     
       MOV.I  <     4, {     4     
       MOV.I  <     3, {     3     
       MOV.I  <     2, {     2     
       MOV.I  <     1, {     1     
       JMP.B  $  1010, $    10     
       MOV.I  #  2667, *     0     
       MOV.I  $ -1001, $   555     
       SPL.B  $     1, <  1000     
       SPL.B  $     1, <  1100     
       SPL.B  $     1, <  1200     
       SPL.B  $     1, <  1300     
       SPL.B  $     2, $  1400     
       JMP.B  $   549, $     0     
       ADD.A  #  2667, $    -1     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     

