;Program "P-Space test #1" (length 30) by "Anonymous"

       ORG      START
START  NOP.F  $   543, $     0     
       STP.AB #   544, #   123     
       LDP.AB #   123, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   123, $   544     
       STP.A  #   543, #     0     
       LDP.AB #   543, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   543, $   543     
       STP.BA #   123, #   545     
       LDP.AB #   123, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   123, $   545     
       STP.B  #     0, #   546     
       LDP.AB #   546, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   546, $   546     
       STP.F  #     0, #   547     
       LDP.AB #   547, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   547, $   547     
       STP.X  #     0, #   548     
       LDP.AB #   548, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   548, $   548     
       STP.I  #     0, #   549     
       LDP.AB #   549, #     0     
       SEQ.F  $    -1, $     1     
       DAT.X  $   549, $   549     
       JMP.B  $     0, $     0     

