       ORG      START
       DAT.F  $    -1, $     0     
       JMP.B  >     0, $   -12     
       MOV.B  $    -1, <    -2     
       MOV.B  <    -2, $    -2     
       JMP.B  >    -3, $     0     
       MOV.BA #     0, #    -1     
       MOD.A  *    -6, $    -1     
       MOV.BA #     0, #    -1     
       DIV.A  *    -8, $    -1     
       ADD.A  #     1, $    -4     
       MOD.A  }   -10, $    -5     
       JMN.A  $     2, $    -6     
       ADD.A  #     1, $    -5     
       MOV.A  $    -8, {   -13     
       MOV.A  $    -7, {   -14     
       JMP.B  >   -14, $     0     
       MOV.AB }   -16, #     0     
       MOV.AB *   -17, #     0     
       MOD.BA $    -2, *   -18     
       MOV.BA $    -2, {   -19     
       DIV.BA $    -4, *   -20     
       JMP.B  >   -20, $     0     
       MOV.AB #    25, $   -21     
       MOV.A  *   -23, $     5     
       MOV.BA #     0, #     0     
       JMP.B  $   -20, $     0     
       ADD.A  }    24, $    -2     
       MOV.AB }    23, $     1     
       MOV.X  #     0, #     0     
       JMZ.A  $     4, $    -1     
       MOV.BA $    -2, {    20     
       MOV.A  $    -3, {    19     
       JMP.B  $   -16, <    19     
       MOV.A  $    -9, {    17     
       MOV.BA $    -6, {    16     
       MOV.B  >    15, $    16     
       JMP.B  >    15, $     0     
START  MOV.A  #     2, *    13     
       JMP.B  $    14, $    21     
       SNE.AB }    11, #     1     
       SLT.AB *    10, $     6     
       JMP.B  $     3, $     0     
       MOV.AB *     8, $     4     
       MOV.A  $    -6, $     3     
       NOP.F  <     7, }    -7     
       DJN.B  $    -8, #    -3     
       DAT.F  #     0, #    -1     

