;redcode-94nop
;author Lukasz Grabun
;name Candy
;assert CORESIZE==8000
;strategy MiniQ^3 -> Stone/Imp
;Uninvited's Imps
       ORG      START
       MOV.I  $    13, $ -1994     
       SPL.B  }     2, $    18     
       SPL.B  *     1, $ -2002     
       SPL.B  $     0, $ -3224     
       MOV.I  <     3, <    -2     
       MOV.I  <    -4, <    -2     
       DJN.B  @    -4, #     5     
       JMP.B  @    -4, $     6     
       SPL.B  #     0, #     0     
       MOV.I  $    10, } -3712     
       MOV.I  $     9, @    -1     
       ADD.AB # -3711, @    -1     
       DJN.F  $    -3, {  4000     
       DAT.F  >    17, >     1     
       SPL.B  #     4, >   -20     
       SUB.F  # -2668, $     2     
       MOV.I  $     2, }    -2     
       JMP.B  $  2665, > -2666     
       MOV.I  #    -1, $  2667     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
START  SEQ.I  $ -3779, $   221     
       DJN.F  $    17, { -3771     
       SNE.I  $ -2981, $  1019     
       SEQ.I  $   818, <    22     
       JMP.B  $    13, >    21     
       SNE.I  $ -2384, $  1616     
       SEQ.I  $  1415, <    18     
       JMP.B  $    10, {    10     
       SNE.I  $ -1987, $  2013     
       SEQ.I  $  1812, <    17     
       JMP.B  $     7, }     7     
       SEQ.I  $ -3590, $   410     
       JMP.B  $     5, <    13     
       SEQ.I  $ -2792, $  1208     
       DJN.B  $     3, {     3     
       SNE.I  $ -3394, $   606     
       JMZ.F  $   -89, $ -1602     
       MUL.B  $     8, $     4     
       SNE.I  <  1000, @     3     
       ADD.AB #  4000, $     2     
       MOV.I  $     6, @     1     
       MOV.I  $     5, *   200     
       SUB.AB #     7, $    -1     
       DJN.B  $    -3, #     8     
       DJN.F  $   -97, # -2592     
       DAT.F  {    46, $ -3196     
       DAT.F  {    46, $ -2190     

