;redcode-94nop
;name Really Frenzy II
;author Lukasz Grabun
;strategy optimized and altered version of Really Frenzy
;assert 1
;optimax stn
;    -+)>] 0/1 cycles [(<+-
;    -+>)] 2 cycles [(<+-
       ORG      START
       MOV.I  $    21, $  2028     
       SPL.B  $     2, $    17     
       SPL.B  $     2, $  2016     
       SPL.B  $     1, < -2000     
       MOV.I  <    -3, <    -2     
       MOV.I  <    -4, <    -3     
       DJN.B  >    -4, #     5     
       JMP.B  $  2002, < -2000     
       ADD.AB #  3510, $     2     
       MOV.I  $    19, @     1     
       MOV.I  >     2, @   -13     
       JMZ.B  $    -3, <     1     
       SPL.B  #   -14, #     0     
       MOV.I  $     2, >    -9     
       DJN.F  $    -1, >   -10     
       DAT.F  > -2665, $    13     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.I  $    15, }    15     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  {    46, {     1     
START  SEQ.I  $ -3766, $   234     
       JMP.B  $    30, { -3758     
       SNE.I  $ -2968, $  1032     
       SEQ.I  $   831, {    36     
       JMP.B  $    26, }    35     
       SNE.I  $ -2371, $  1629     
       SEQ.I  $  1428, {    32     
       JMP.B  $    23, {    23     
       SNE.I  $ -1974, $  2026     
       SEQ.I  $  1825, {    31     
       JMP.B  $    20, }    20     
       SEQ.I  $ -3577, $   423     
       JMP.B  $    18, {    27     
       SEQ.I  $ -2779, $  1221     
       DJN.A  $    16, {    16     
       SEQ.I  $ -3381, $   619     
       JMP.B  $    14, { -3373     
       SNE.I  $ -1183, $  2817     
       SEQ.I  $  2616, <    21     
       JMP.B  $    10, >    20     
       SNE.I  $  -586, $  3414     
       SEQ.I  $  3213, <    17     
       JMP.B  $     7, {     7     
       SEQ.I  $ -1789, $  2211     
       JMP.B  $     5, <    15     
       SEQ.I  $  -991, $  3009     
       DJN.B  $     3, {     3     
       SNE.I  $ -1593, $  2407     
       JMZ.B  $   -87, $ -1601     
       MOV.BA $    10, $    10     
       MUL.AB $     9, $     4     
       SNE.I  $   -33, @     3     
       ADD.AB #  4000, $     2     
       MOV.I  $   -34, @     1     
       MOV.I  $   -35, *   200     
       SUB.AB #     7, $    -1     
       DJN.B  $    -3, #     8     
       JMP.B  $   -96, < -2000     
       DAT.F  $ -2592, $  -783     
       DAT.F  $ -3196, $ -1387     
       DAT.F  $ -2190, $     1     

