<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nMars.IDE.Properties.IDESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="nMars.IDE.IDESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nMars.IDE.Properties.IDESettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nMars.IDE.Properties.IDESettings>
            <setting name="LoadRecentProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultEngine" serializeAs="String">
                <value>nMars.Engine-StepBack</value>
            </setting>
            <setting name="DefaultParser" serializeAs="String">
                <value>nMars.Parser</value>
            </setting>
        </nMars.IDE.Properties.IDESettings>
    </userSettings>
    <applicationSettings>
        <nMars.IDE.Properties.IDESettings>
          <setting name="KnownComponents" serializeAs="Xml">
            <value>
              <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <string>nMars.Parser</string>
                <string>nMars.Engine-StepBack</string>
                <string>nMars.Debugger</string>
                <string>nMars.IDE.Debugger</string>
                <string>nMars.ShellPy</string>
              </ArrayOfString>
            </value>
          </setting>
        </nMars.IDE.Properties.IDESettings>
    </applicationSettings>
</configuration>