;redcode-94 test
;name Boys are Back in Town 1.1
;author Philip Kendall
;strategy Blur-style scanner
;strategy Quicker boot + more anti-imp
;assert CORESIZE==8000
;optimax cds
       ORG      START
       MOV.I  $    87, >     6     
START  MOV.I  $    87, >    10     
       MOV.I  $    87, >     9     
       MOV.I  $    87, >     8     
       MOV.I  $    87, >     7     
       MOV.I  $    87, >     6     
       MOV.I  $    87, >     5     
       MOV.I  $    87, >     4     
       MOV.I  $    87, >     3     
       MOV.I  $    87, >     2     
       MOV.I  $    87, >     1     
       JMP.A  $  -121, $  -123     
       SPL.AB #     1, @     1     
       SPL.A  #     1, @     1     
       SPL.B  #     1, @     1     
       MOV.I  $    87, >     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, $     1     
       SPL.B  #     1, $     1     
       SPL.AB #     1, $     1     
       SPL.BA #     1, $     1     
       SPL.F  #     1, $     1     
       SPL.X  #     1, $     1     
       SPL.I  #     1, $     1     
       SPL.A  #     1, *     1     
       SPL.B  #     1, *     1     
       SPL.F  #     1, $     1     
       SPL.A  #     1, #     1     
       SPL.B  #     1, #     1     
       MOV.I  $   -20, >   202     
       MOV.I  $     5, >    -1     
       SEQ.I  $  3940, $  3945     
       MOV.AB $    -1, @    -2     
       SUB.F  $     2, $    -2     
       JMN.B  $    -4, @    -4     
       SPL.X  # -1970, > -1970     
       MOV.I  $     2, >    -9     
       DJN.F  $    -1, >   -10     
       DAT.F  > -2665, $    14     
       SPL.B  #     1, @     1     
       SPL.AB #     1, @     1     

