<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nMars.Console.Properties.ConsoleCfg" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="nMars.Console.Properties.ConsoleCfg" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <userSettings>
        <nMars.Console.Properties.ConsoleCfg>
            <setting name="DefaultEngine" serializeAs="String">
                <value>nMars.Engine</value>
            </setting>
            <setting name="DefaultParser" serializeAs="String">
                <value>nMars.Parser</value>
            </setting>
          <setting name="DefaultDebugEngine" serializeAs="String">
            <value>nMars.Engine-StepBack</value>
          </setting>
        </nMars.Console.Properties.ConsoleCfg>
    </userSettings>
  <applicationSettings>
    <nMars.Console.Properties.ConsoleCfg>
      <setting name="KnownComponents" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>nMars.Parser</string>
            <string>nMars.Engine</string>
            <string>nMars.Debugger</string>
            <string>nMars.ShellPy</string>
          </ArrayOfString>
        </value>
      </setting>
    </nMars.Console.Properties.ConsoleCfg>
  </applicationSettings>
</configuration>


